@charset "utf-8";

html { 
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	color: #ff8b3d;
  font-family: 'Open Sans', sans-serif;
}

#login-form {
	background-color: white;
	border-radius: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
	margin: 15% auto;
	width: 23%;
  font-family: 'Open Sans', sans-serif;
	font-size: 15%;
  -webkit-box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
   box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  
}

#login-form h1 {
	background-color: green;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	color: #fff;
	padding: 7%;
	text-align: center;
	text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
	font-size: 600%;
}

#login-form fieldset {
	border: none;
	padding: 7%;
	position: relative;
}


#login-form fieldset form {
	overflow: hidden;
}

#login-form fieldset form input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 600%;
	outline: none;
  -webkit-appearance:none;
  width: 95%;
  align: center;
  position: center;
  

}

#login-form fieldset form input[type="tel"] {
	border: 1px solid #292829;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 4% 4%;
	width: 90%;
  -webkit-appearance:none;
}

#login-form fieldset form input[type="password"] {
	border: 1px solid #292829;
	border-top: none;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	padding: 4% 4%;
	width: 90%;
  -webkit-appearance:none;
}

#login-form fieldset form input[type="submit"] {
	background-color: #ebebeb;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #404040;
	cursor: pointer;
	float: none;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 12px;
  -webkit-appearance: none;
}

#login-form fieldset form input[type="submit"]:hover {
	background-color: #e0e0e0;
}

#login-form fieldset form span:before {
	background-color: #c9c9c9;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	content: "?";
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	text-align: center;
	width: 20px;
}

#login-form fieldset form span {
	font-size: 12px;
	margin-top: 40px;
}

#login-form fieldset form span a{
	color: #eb6d1a;
	text-decoration: none;	
}

#login-form fieldset form span a:hover {
	color: #eb6d1a;
}


.menu{
	line-height: 230%;
	margin:0; 
	background: white;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	font-family: Times New Roman;
	font-size: 25px;
	box-shadow: 0 10px 80px rgba(0,0,0,1);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}

ul {
	list-style-type: none; 
	margin: 0; 
	padding-left: 30%;
	display: inline;
	width: 580px;
}

li {
	float: left;
}

li a { 
	color: green; 
	text-align: center; 
	padding: 14px 16px; 
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover { 
	background-color:green;
	color: white;
}
#left{
	background-image: url('../img/logo.png');
	background-size: 15% 100%;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	float: left;
}
